@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(250, 250, 250);
  font-family: "Red Hat Display", sans-serif;
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

main > img:first-child {
  margin-top: 5vh;
  width: 15vw;
}
h2 {
  font-weight: 900;
  color: #27293d;
  font-size: clamp(2em, 5vh, 7em);
}
p {
  color: #9c9ca7;
  font-weight: 650;
  font-size: clamp(1em, 2.8vw, 1.75em);
}

.top-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 7vh;
}

.inner-top-div {
  width: 33%;
  text-align: center;
  z-index: 2;
}

.top-div img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30vw;
  height: auto;
  z-index: 1;
}

.top-div img:first-of-type {
  left: -2vw;
}

.top-div img:last-of-type {
  right: -2vw;
}

.inner-top-div h1 {
  font-size: clamp(2em, 8vh, 9em);
  font-weight: 900;
  color: #27293d;
  margin-bottom: 1rem;
}

.inner-top-div p {
  width: 80%;
  margin: 0 auto 2rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100vw;
}

.btn {
  color: #fafafa;
  border-radius: 100px;
  border: none;
  padding: 1.5vh 2vw;
  width: fit-content;
  font-weight: 650;
  font-size: clamp(1em, 1.56vh, 4em);
  cursor: pointer;
}

.btn a {
  color: rgb(168, 245, 255);
}
.circle-container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px; 
}

.line {
  width: 2px;
  height: 7vh; 
  background-color: #ccc; 
  z-index: 5;
}

.circle {
  z-index: 5;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  border: 2px solid #ccc; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1em, 3vh, 1.75em);
  color: #666;
  background-color: rgb(250, 250, 250); 
}

.img-grid {
  margin: 5vh auto;
  display: grid;

  grid-template-columns: repeat(4, 1fr);
}

.img-grid img {
  width: 15vw;
  margin: 0 1vw;
  height: auto;
  border-radius: 10px;
}
.bottom-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}

.bottom-text h2 {
  inline-size: 30%;

  margin-top: 1vh;
}
.bottom-text h3 {
  color: #56949f;
  letter-spacing: 0.25rem;
  font-size: clamp(1em, 3vh, 4em);
}

.bottom-text p {
  margin-top: 0;
  inline-size: 35%;
}

footer {
  position: relative;
  height: 40vh;
  width: 100%;
  background-image: url(assets/desktop/image-footer.jpg);
  background-size: cover;
}
footer .content {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: rgba(88, 153, 171, 0.8);
}
footer h2 {
  color: #faf7f5;
  font-size: clamp(2em, 6vh, 7em);
}
footer p {
  color: #e5f2f3;
  text-align: left;
  inline-size: 20%;
  font-size: clamp(1.4em, 2vh, 3em);
  font-weight: 500;
}
footer .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  background-color: #855fb0;
}
footer .btn a {
  color: #e1bcfd;
  margin-left: 0.4em;
}
.outter-circle-container {
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  z-index: 4;
  height: 5vh;
  width: 100vw;
}
#second-circle {
  height: auto;
  justify-content: start;
  margin-top: 0;
  padding-top: 0;
  position: absolute;
  bottom: -30px;
}
.tablet {
  display: none;
}
.mobile {
  display: none;
}
@media (max-width: 1020px) {
  .pc {
    display: none;
  }
  .tablet {
    margin-top: 8vh;
    display: block;
    width: 100%;
  }
  .inner-top-div {
    width: 60%;
  }
  .inner-top-div p {
    inline-size: 120%;
  }
  .btn {
    padding: 3vh 5vw;
  }
  .img-grid {
    margin: 0;
  }
  .img-grid img {
    width: 22vw;
  }
  .bottom-text h2 {
    inline-size: 75%;
  }
  .bottom-text p {
    inline-size: 75%;
  }
  footer {
    height: 80vh;
    background-image: url("assets/tablet/image-footer.jpg");
  }
  footer .content {
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
  }
  footer .content p {
    text-align: center;
    inline-size: 80%;
    margin-bottom: 5vh;
  }
}
@media (max-width: 426px) {
  body {
    overflow-x: hidden; 
  }
  .img-grid {
    grid-template: repeat(2, 2fr) / repeat(2, 2fr);
  }

.img-grid img {
  margin: 5px;
  width: 40vw;
}
.inner-top-div {
  width: 90vw;
}
.inner-top-div h1 {
  font-size: clamp(1em, 24vw, 3em);
}
.inner-top-div p {
  width: 90vw;
}

footer .content h2 {
  font-size: clamp(1em, 10vw, 3em);
}
footer .content p {
  font-size: clamp(0.5em, 7vw, 2em);
}
.tablet {
  width: 110vw;
}
main > img:first-child {
  width: 40vw;
}
}